<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<context:annotation-config />
	<mvc:default-servlet-handler/>
	<!-- 自动扫描 -->
	<context:component-scan base-package="com.Train" />
	
<!-- 	<bean id="CheckUserService" class="com.IVMS.service.impl.CheckUserServiceImpl"/> -->

	<!-- 访问静态资源(不拦截该资源) -->
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/html/" mapping="/html/*.html" />
	<mvc:resources location="/html/" mapping="/html/**/*.html" />
	<mvc:resources location="/urgentfile/" mapping="/urgentfile/**" />
	<mvc:resources location="/checkingtoolfile/" mapping="/checkingtoolfile/**/**" />
	<mvc:resources location="/cfreportfile/" mapping="/cfreportfile/**/*/**" />

	<!-- 启动注解(修改Spring默认JSON转换工具为fastjson) -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
						<!-- <value>text/html;charset=UTF-8</value> -->
						<value>application/json</value>
					</list>
				</property>
				<property name="features">
					<list>
						<value>WriteMapNullValue</value>
						<value>QuoteFieldNames</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 配置文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<!-- 文件大小最大值500M -->
		<property name="maxUploadSize" value="524288000" />
	</bean>
	
	 <!-- 定义跳转的文件的前后缀 ，视图模式配置-->  
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->  
        <property name="prefix" value="/html/" />  
        <property name="suffix" value=".html" />  
    </bean> 
	<!-- 页面跳转接口验证登录 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/index**"/>
			<mvc:exclude-mapping path="/user/login"/>
			<bean class="com.collectInfo.interceptor.PageLoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	<!-- ajax接口验证登录 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/**" />
			<mvc:exclude-mapping path="/user/login"/>
			<bean class="com.collectInfo.interceptor.AjaxLoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->

	<!-- 管理员权限验证 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/addUser" />
			<bean class="com.collectInfo.interceptor.AuthorityInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>
