<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Train.dao.UserCourseDao" >
  <resultMap id="BaseResultMap" type="com.Train.model.UserCourse" >
    <id column="ucid" property="ucid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ucid, uid, cid, score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_course
    where ucid = #{ucid,jdbcType=INTEGER}
  </select>
  
  <select id="checkUserCourse" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from user_course
    where uid = #{uid,jdbcType=INTEGER} AND cid = #{cid,jdbcType=INTEGER};
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_course
    where ucid = #{ucid,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteUserCourse" parameterType="java.lang.Integer" >
    delete from user_course
    where uid = #{uid,jdbcType=INTEGER} AND cid = #{cid,jdbcType=INTEGER};
  </delete>
  
    <insert id="insert" parameterType="com.Train.model.UserCourse" >
    insert into user_course (ucid, uid, cid, score
      )
    values (#{ucid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER},#{score,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertUserCourse" parameterType="com.Train.model.UserCourse" >
    insert into user_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ucid != null" >
        ucid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ucid != null" >
        #{ucid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="insertSelective" parameterType="com.Train.model.UserCourse" >
    insert into user_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ucid != null" >
        ucid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ucid != null" >
        #{ucid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.Train.model.UserCourse" >
    update user_course
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
    </set>
    where ucid = #{ucid,jdbcType=INTEGER}
  </update>
  <update id="updateUserCourse" parameterType="com.Train.model.UserCourse" >
    update user_course
    set score = #{score,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER} AND cid = #{cid,jdbcType=INTEGER};
  </update>
</mapper>